<nav class="navbar fixed-bottom navbar-dark shadow-lg">
  <div class="container-fluid justify-content-around">

    <a class="nav-link text-center" routerLink="/shopping-list" routerLinkActive="active">
      <i class="bi bi-list fs-3"></i>
    </a>

    <a class="nav-link text-center" routerLink="/fridge" routerLinkActive="active">
      <i class="bi bi-cart fs-3"></i>
    </a>
    <a class="nav-link text-center">
      <i class="bi bi-house fs-3"></i>
    </a>

    <a class="nav-link text-center">
      <i class="bi bi-heart fs-3"></i>
    </a>

    <a class="nav-link text-center">
      <i class="bi bi-search fs-3"></i>
    </a>

  </div>
</nav>