<nav class="navbar-custom fixed-bottom shadow-lg">
  <div class="nav-wrapper">

    <a class="nav-link" routerLink="/shopping-list" routerLinkActive="active">
      <app-icon name="list"></app-icon>
    </a>
    <a class="nav-link" routerLink="/fridge" routerLinkActive="active">
      <app-icon name="fridge"></app-icon>
    </a>
    <a class="nav-link" routerLink="/home" routerLinkActive="active">
      <app-icon name="home"></app-icon>
    </a>
    <a class="nav-link" routerLink="/favorites" routerLinkActive="active">
      <app-icon name="heart"></app-icon>
    </a>
    <a class="nav-link" routerLink="/explore-page" routerLinkActive="active">
      <app-icon name="search"></app-icon>
    </a>

  </div>
</nav>
