.popular-recipe-container {
  width: 90vw;
  margin-top: 16px;
}

.pop-title {
  font-size: 1.1rem;
  margin-bottom: 12px;
}

.pop-elem {
  background: white;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 12px;
  text-decoration: none;
  color: inherit;
}
