#PR1 {
  
}
.popular-recipe-container {
  text-align: center;
  align-items: center;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  border: 2pt solid olive;
  border-radius: 30pt;
  padding-bottom: 10pt;
  width: 83vw;
}
.pop-elem {
  text-align: center;
  width: 80vw;
  margin-top: 5pt;
  height: 32pt;
  border: 2pt solid olive;
  border-radius: 30pt;
}

.pop-elem:hover{
  margin-top: 5pt;
  height: 32pt;
  border: 2pt solid rgb(120, 120, 5);
  border-radius: 30pt;
  background-color:  rgb(120, 120, 5);
}
