.details .icon{
  border-radius: 50%;
  background-color: var(--color-dark-beige);
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
}
.details .icon.vegan {
  background-color: var(--color-green);
  color: var(--color-bg-beige);
}
.details .icon.heart:hover {
  transform: scale(1.1);
  transition: 0.2s;
  background-color: var(--color-dark-beige);
}
.details .icon.heart {
  background-color: var(--color-dark-red);
  color: var(--color-bg-beige);
}
.active-heart {
  transform: scale(1.1);
  transition: 0.2s;
}

.cookBtn {
  display: flex;
  justify-content: center;
  align-items: center;
}